body {
  background: radial-gradient(
    circle at 7.5% 24%,
    rgb(237, 161, 193) 0%,
    rgb(250, 178, 172) 25.5%,
    rgb(190, 228, 210) 62.3%,
    rgb(215, 248, 247) 93.8%
  );
  font-family: "roboto", sans-serif;
  margin: 0;
  height: 100vh;
  overflow-x: hidden;
}
a {
  color: #2d767f;
}

.lunar-app {
  background: white;
  max-width: 600px;
  margin: 45px auto;
  box-shadow: 0 30px 50px rgba(65, 50, 100, 0.08);
  border-radius: 16px;
  padding: 30px;
}

header {
  border-bottom: 1px solid #ecfffb;
  padding: 0 0 30px 0;
}

.search-form-input {
  background-color: #ecfffb;
  border: none;
  border-radius: 6px;
  width: 80%;
  font-size: 16px;
  padding: 15px 20px;
}
.search-form-button {
  background: #2d767f;
  padding: 15px 30px;
  border: none;
  font-size: 16px;
  margin-left: 5px;
  border-radius: 6px;
  color: white;
}

main {
  padding: 30px 0;
}

.weatherlunar-data {
  display: flex;
  justify-content: space-between;
}

.weatherlunar-city {
  margin: 0;
  font-size: 38px;
  line-height: 48px;
}

.weatherlunar-details {
  font-size: 16px;
  line-height: 24px;
  color: rgba(39, 33, 66, 0.4);
  font-weight: 500;
}

.weatherlunar-details strong {
  color: #2d767f;
}

.weatherlunar-container {
  display: flex;
}

.weatherlunar-icon {
  font-size: 88px;
  height: 88px;
}

.weatherlunar-temperature {
  font-size: 88px;
  margin-left: 10px;
  font-weight: bold;
}

.weatherlunar-unit {
  margin-top: 6px;
  font-size: 28px;
}

.lunar-forecast {
  display: flex;
  justify-content: space-around;
  margin-top: 30px;
}

.lunar-forecast-date {
  text-align: center;
  color: rgba(39, 33, 66, 0.4);
  font-size: 16px;
  line-height: 20px;
  margin-bottom: 10px;
}

.lunar-forecast-icon {
  width: 88px;
  height: 88px;
  display: block;
  margin: auto;
}

.lunar-forecast-temperatures {
  text-align: center;
  color: #2d767f;
  margin-top: 10px;
  display: flex;
  justify-content: center;
}

.lunar-forecast-temperature {
  padding: 0 10px;
}

footer {
  border-top: 1px solid #ecfffb;
  padding: 30px 0 0 0;
  text-align: center;
  font-size: 13px;
  color: rgba(0, 0, 0, 0.6);
}
